p{
padding:10px;

}

div{
  margin-top: 10px;
}

a{
  text-decoration: none;
  background-color:rgba(136, 255, 247, 0.1);
  padding: 15px;
  border-radius: 5px;
color: white;
transition: 1s;
}
a:hover{

  background-color:rgba(136, 255, 247, 0.1);

color: rgb(206, 194, 194);
}


